
.background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

#play {
    background-color: #90EE90;
    border-radius: 6px;
    padding: 10px;
    font-size: .75em;
    max-height: 3em;
    text-align: center;
    align-self: center;
    max-width: 3em;
    display: inline;
}

#playAgain {
    background-color: firebrick;
    border-radius: 6px;
    padding: 10px;
    font-size: .75em;
    max-height: 3em;
    text-align: center;
    align-self: center;
    max-width: 3em;
    display: inline;
}

.button:hover{
	cursor: pointer;
	cursor: hand;
}

.response {
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 5px #FFF;
}

#rules {
    font-size: 2.5em;
    text-shadow: 2px 2px 5px #FFF;
}

#playerChoice {
    margin: 15px 20px;
}

#player1{
    /*height: 1.5em;*/
    max-width: 30%;
    border-radius: 6px;
    font-size: .75em;
}