#mainContent{
	display: flex;
	flex-direction: column;
}


.subscribe {
	font-family: inherit;
	font-size: 1.15em;
	padding: 20px;
    flex-flow: column wrap;
    align-self: center;
    display: flex;
    justify-content: space-around;
    max-width: 60%;
	margin: auto;
}

.number {
	background-color: #FFA500;
	font-size: 1.5rem;
	
}

input[type="email"] {
	background-color: #ffee66;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor:pointer;
	cursor:hand;
}

input[type="radio"]:checked +label{
	font-weight: bold;
}
#fieldset2{
	display: flex;
}
#cornStory{
	font-size: 1.15em;
	min-width: 4em;
	min-height: 3em;
}

/*DRY classes*/

.blk {
display: block;
}

.btn {
display: block;
font-size: 1.25em;
background-color: #90EE90;
color: #fff;
border-radius: 5px;
align-self: flex-start;
}

.error {
background-color: #FF001E;
}

@media (max-device-width: 600px){
	.subscribe{
		min-width: 100%;
		font-size: 1.5em;
	}
	#fieldset1{
		font-size: 1.25em;
	}
	#cornType{
		font-size: 1.25em;
	}
	input{
		font-size: 1.25em;
	}
	#fieldset2{
		font-size: 1.25em;
	}
}
